.container {
  display: flex;
  flex-direction: row;
  background-color: #000;
  width: 100%;
  max-height: 75px;
  padding: 5px 0;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

.footerLeft {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 0.2ch;
  padding: 0.1rem 0;
}

.text p {
  margin: 0;
}

.footerRight {
  display: flex;
  flex-direction: column;
}

.contactInfo {
  display: flex;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2ch;
  transition: all 0.2s ease-in-out;
}

.contactInfo:hover {
  color: #FA9B08;
}

#second a:hover {
  transition: all 0.2s ease-in-out;
  color: #FA9B08;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 2vw;
  }

  .footerRight {
    display: none;
  }

  .footerLeft {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .text {
    flex-direction: column;
    max-width: 50vw;
    align-self: center;
  }
}