.container {
  z-index: 99;
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #000;
  color: #fff;
  justify-content: center;
  padding: 0.345rem 2rem;
  height: 30px;
  overflow: hidden;
  justify-content: space-between;
}

.stick {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.leftSide {
  display: flex;
  flex-direction: row;
  padding: 0 5vw 0 0;
}

.rightSide {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 5vw;
}

.linksContainer {
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.3ch;
  padding: 0 5vw 0 0;
  transition: color 0.2s ease-in-out;
}

.linksContainer:hover {
  cursor: pointer;
  color: #F89B08;
}

.socialsContainer {
  padding: 0 1rem;
}

.social svg:hover {
  cursor: pointer;
  fill: #F89B08;
}

.social svg {
  align-items: center;
  width: 14px;
  height: 14px;
  fill: #fff;
  transition: fill 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {
  .container {
    justify-content: space-between;
    padding: 0.345rem 0;
  }

  .leftSide, .rightSide {
    padding: 0;
    justify-content: space-between;
  }

  .socialsContainer {
    padding: 0 3vw;
  }

  .linksContainer {
    padding: 0 4vw;
  }

  #emailContainer {
    display: none;
  }
}